+++
title = "DevX"
linkTitle = "DevX"

+++

<section class="td-cover-block td-cover-block--height-max js-td-cover -bg-dark" style="text-align: center; margin-left: -15px; margin-right: -15px;">
	<div class="mx-auto">
		<div class="display-1 m-5">DevX Tools & Modules</div>
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="#tools">
			View Tools <i class="fas fa-arrow-circle-down ml-2"></i>
		</a>
		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="blog/2021/09/14/the-future-of-the-puppet-developer-kit-pdk/">
			About <i class="fas fa-bookmark ml-2"></i>
		</a>
	</div>
	<p class="lead mt-5 pl-5 pr-5">Welcome to the DevX tools and modules site! Here you can find all documentation relevant to the usage and development of PCT and PRM.</p> 
</section>

<div id="tools"></div>

<div class="card-deck p-0 center mt-5 mb-5 container-md mx-auto">
	{{< project-card title="PCT" icon="fa-align-left" installUrl="pct/install" docsUrl="pct" >}} 
	Puppet Content Templates (PCT) codify a structure to produce content for any Puppet Product that can be authored by Puppet Product Teams or external users without direct help of the PDK team. 
	{{< /project-card>}}
	{{< project-card title="PRM" icon="fa-boxes" installUrl="prm/install" docsUrl="prm" >}} 
	Puppet runtime manager (PRM) is a program that allows for the management of Puppet versions, along with their respective Ruby versions.
	This is achieved through the use of custom backends (e.g. local or docker) resulting in faster, more efficient functionality when compared to the PDK.
	{{< /project-card>}}
</div>

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fas fa-book-reader" title="All new documentation site!" %}}
This site is the central location for Puppet DevX Tooling documentation.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="New streamlined tools" %}}
Find out how Puppet Content Templates (PCT) and the Puppet Runtime Manager (PRM) can help you with your Puppet code development and validation.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
We do a [Pull Request](https://github.com/puppetlabs/devx/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}
{{< /blocks/section>}}
